.services {
    background-color: #ca1616; /* bg-gray-800 */
    color: #ffffff; /* text-white */
    padding: 1rem; /* p-4 */
    justify-content: space-between;
    text-align: center;
  }

.services h1 {
    font-size: 1rem;
}
  
.services p {
    font-size: 1rem;
    margin-top: 1rem;
}

  
